{% extends 'base.html.twig' %}

{% block title %}Orde index{% endblock %}

{% block body %}
    <h1>Orde index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Book</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orde in ordes %}
            <tr>
                <td>{{ orde.id }}</td>
                <td>{{ orde.book }}</td>
                <td>{{ orde.user }}</td>
                <td>
                    <a href="{{ path('orde_show', {'id': orde.id}) }}">show</a>
                    <a href="{{ path('orde_edit', {'id': orde.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orde_new') }}">Create new</a>
{% endblock %}
