{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
  <div class="ht__bradcaump__area bg-image--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Review</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="/">Home</a>
                              <span class="brd-separetor">/</span>
                              <a class="breadcrumb_item active" href="/review">Review</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Review index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rate</th>
                <th>RateNick</th>
                <th>RateSumm</th>
                <th>RateRev</th>
                <th>Book</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.rate }}</td>
                <td>{{ review.rateNick }}</td>
                <td>{{ review.rateSumm }}</td>
                <td>{{ review.rateRev }}</td>
                <td>{{ review.book }}</td>
                <td>
                    <a href="{{ path('review_show', {'id': review.id}) }}">show</a>
                    <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('review_new') }}">Create new</a>
{% endblock %}
